@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto:wght@300&display=swap');

:root {
  --navy-blue: #264E70;
  --dark-navy-blue: #272643;
  --sage-green:#679188;
  --mint-green: #BBD4CE;
  --dark-purple: #664B80;
  --beige: #F7E2D1;
}

html, body {
  width: 100%;
  height: 100%;

  font-size: 14px;
  background-color: var(--navy-blue);
}

header {
  padding: 20px 30px;

  background-color: var(--navy-blue);

  border-bottom: 2px solid #214361;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

*{
  font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar__logo{
    background-color: var(--beige);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 700;
    z-index: 999;
    position: relative;
}

#navbar__logo i {
  padding-right: 20px;
}

#main__img {
  width: 75%;
}

.fa-calendar{
    margin-right: 0.5rem;

}

@media screen and (max-width: 1200px){    
  .main__text {
    font-size: 10px;
  }
}

.main__container {
    z-index: 1;
    padding: 50px 50px;
}

.main__content{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.main__content h1{
    text-align: left ;
    font-size: 5.5em;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    text-align: left ;
    font-size: 2rem;
    background-color: #95ADBE;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100vh;

  background-color: var(--navy-blue);

  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(0, -175%);
  transition: transform 0.75s cubic-bezier(0.77,0.2,0.05,1.0);
}

.nav-links > ul {
  display: flex;
  flex-direction: column;

  height: 90%;

  list-style: none;

  font-size: 2rem;
    text-align: center;
}

.nav-links > ul > li {
  padding: 50px 100px;

  border-bottom: 1px solid var(--beige);
}



.nav-links > ul > li:last-child {
  border-bottom: none;
}

.nav-links > ul > li > a {
  text-decoration: none;
  color: var(--beige)
}

.nav-links > ul > li > a:hover {
  cursor: pointer;
  transition: text-decoration 0.2s ease-in;
  text-decoration: underline;
}

.hamburger {
  position: relative;

  width: 36px;

  transition: all 0.4s ease;
}

.hamburger-btn {
  position: absolute;
  z-index: 999;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.hamburger-icon {
  position: relative;
  z-index: 998;
}

.hamburger-icon::before,
.hamburger-icon::after {
  display: block;
  content: '';
  height: 4px;

  background-color: var(--beige);
  border-radius: 5px;

  transition: all 200ms ease-in-out;
}

.hamburger-icon::before {
  box-shadow: 0 10px 0 var(--beige);
  margin-bottom: 16px;
}

.hamburger-btn:checked + .hamburger-icon::before {
  box-shadow: 0 0 0 var(--beige);
  transform: translateY(10px) rotate(45deg);
}

.hamburger-btn:checked + .hamburger-icon::after {
  transform: translateY(-10px) rotate(-45deg);
}

[hamburger-btn-checked = true] .nav-links {
  transform: none;
}

[hamburger-btn-checked = true] main {
  display: none;
}