*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif

}

/*-----NavBar---*/
.navbar {
    background: #264E70;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    background-color: #679186;
    background-image: linear-gradient(to top, #679186 0%, #BBE4CE 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-calendar{
    margin-right: 0.5rem;

}

.navbar__menu{
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


.navbar__links:hover{
    color: #BBE4CE;
    transition: all 0.1s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    
    #navbar__logo {
        padding-left:25px;
    }
    
    .navbar__links{
        text-align: center;    
        padding: 2rem;
        width: 100%;
        display: table;
    }

}

/*-----Main Page Styles---*/
.main{
    background-color: #264E70;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #264E70;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content h1{
    text-align: left ;
    font-size: 4rem;
    background-color: #679186;
    background-image: linear-gradient(to top, #679186 0%, #BBE4CE 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    text-align: left ;
    font-size: 1.5rem;
    background-color: #679186;
    background-image: linear-gradient(to top, #95ADBE 0%, #95ADBE 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


